<% if object.errors.any? %>
  <div class="text-red-500 bg-red-100 border border-red-200 max-w-md mx-auto mb-8 p-5 rounded-lg shadow-sm page-fade">
    <ul class="list-disc list-inside space-y-2 text-sm">
      <% object.errors.full_messages.each do |message| %>
        <li class="font-medium"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>