<% if @health_record.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @health_record.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>