<% content_for :title, "記録編集" %>

<h1 class="text-center text-3xl text-[#8C8273] font-serif pt-10">記録編集</h1>
<p class="text-center text-[10px] text-[#A8A297] tracking-widest uppercase pb-10">The Journey of Balance</p>

<%= render "form", health_record: @health_record %>