<p style="color: green"><%= notice %></p>

<% content_for :title, "記録一覧" %>

<h1>記録一覧</h1>

<div id="health_records">
  <% @health_records.each do |health_record| %>
    <%= render health_record %>
    <p>
      <%= link_to "詳細をみる", health_record %>
    </p>
  <% end %>
</div>

<%= link_to "体調を記録する", new_health_record_path %>
