<% content_for :title, "今日の体調記録" %>
<div class="text-[#8C8273] font-serif">
  <%= link_to "<", root_path %>
</div>
  <h1 class="text-center text-3xl text-[#8C8273] font-serif pt-10">今日の体調記録</h1>
  <p class="text-center text-[10px] text-[#A8A297] tracking-widest uppercase font-light pb-10">The Journey of Balance</p>

<%= render "form", health_record: @health_record %>
